# This line below just tells github to skip the /static folder when trying 
# to determine the language of this project (i.e. get it to ignore  all of 
# the javascript and consider this a python project.). See:
# https://github.com/github/linguist#troubleshooting

zappa_boilerplate/static/libs/* linguist-vendored
zappa_boilerplate/static/css/common.css linguist-vendored
zappa_boilerplate/static/js/common.js linguist-vendored
