alembic==1.4.3
bcrypt==3.2.0
cssmin==0.2.0
email-validator==1.1.2
Flask==1.1.2
Flask-Assets==0.12
Flask-Login==0.4.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
jsmin==2.2.2
psycopg2-binary==2.8.6
python-dateutil==2.8.1
webassets==2.0
WTForms==2.3.3
zappa==0.52.0
