
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2>Home Page</h2>
            <p>
                This is a demo for the <i>basic_zappa_project</i> which can be found
                <a href="https://github.com/dtnewman/basic_zappa_project">here</a> on GitHub.
                This site is <b>"serverless"</b> and runs on AWS <a href="https://aws.amazon.com/lambda/">
                Lambda</a> + <a href="https://aws.amazon.com/api-gateway/">API Gateway</a>. It uses the
                <a href="https://github.com/Miserlou/Zappa">Zappa</a> library to make deployment easy. See the
                <a href="{{ url_for('public.about') }}">about</a> page for more info.
            </p>
            <p>
                This project was designed by <a href="https://github.com/dtnewman">Daniel Newman</a>. Feel free to
                reach out to me with questions or comments. The best way to contact me is by filling out
                <a href="https://www.dtnewman.com/contact_me.html">this form</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
